In [1]:
from sklearn.metrics import confusion_matrix

In [2]:
import pandas as pd

In [3]:
data=pd.read_csv(r'D:\Github\accupoint_2013.csv')

In [4]:
data.head()

   Classified  GrndTruth
0           1          1
1           1          1
2           1          1
3           1          1
4           1          1

In [5]:
data[:1]

   Classified  GrndTruth
0           1          1

In [6]:
data[1:]

     Classified  GrndTruth
1             1          1
2             1          1
3             1          1
4             1          1
5             3          5
..          ...        ...
111           2          2
112           5          5
113           2          2
114           2          2
115           2          2

[115 rows x 2 columns]

In [7]:
data['Classified']

0      1
1      1
2      1
3      1
4      1
      ..
111    2
112    5
113    2
114    2
115    2
Name: Classified, Length: 116, dtype: int64

In [8]:
confusion_matrix(data['Classified'],data['GrndTruth'])

array([[18,  0,  0,  2,  0,  0],
       [ 1, 59,  2,  5,  0,  0],
       [ 0,  1,  7,  0,  1,  0],
       [ 0,  1,  0,  8,  0,  1],
       [ 0,  0,  0,  1,  9,  0],
       [ 0,  0,  0,  0,  0,  0]], dtype=int64)

In [9]:
from sklearn.metrics import classification_report
from sklearn.metrics import accuracy_score

In [10]:
print(classification_report(data['Classified'],data['GrndTruth'], digits=4))

              precision    recall  f1-score   support

           1     0.9474    0.9000    0.9231        20
           2     0.9672    0.8806    0.9219        67
           3     0.7778    0.7778    0.7778         9
           4     0.5000    0.8000    0.6154        10
           5     0.9000    0.9000    0.9000        10
          42     0.0000    0.0000    0.0000         0

    accuracy                         0.8707       116
   macro avg     0.6821    0.7097    0.6897       116
weighted avg     0.9030    0.8707    0.8826       116

C:\ProgramData\miniconda3\envs\yogesh\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\miniconda3\envs\yogesh\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\ProgramData\miniconda3\envs\yogesh\lib\site-packages\sklearn\metrics\_classification.py:1469: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [11]:
from sklearn.metrics import cohen_kappa_score

In [13]:
cohen_kappa_score(data['Classified'],data['GrndTruth'])

0.7987974098057355