In [29]:
import pandas as pd
import pandas as pd
import numpy as np
from math import radians, sin, cos, sqrt, atan2

In [18]:
df=pd.read_xml(r'D:\Github\ship_data\093 Syrma - AIS Data 1-Jan-24 to 30-Apr-24.xml',parse_dates=["TIMESTAMP"])

In [19]:
df.head()

,MMSI,IMO,STATUS,SPEED,LON,LAT,COURSE,HEADING,TIMESTAMP,SHIP_ID
0,312564000,9218923,5,0,103.8900,1.088333,40,511,2024-01-19 03:16:53,662466
1,312564000,9218923,5,0,103.8900,1.088333,40,77,2024-01-19 03:37:53,662466
2,312564000,9218923,5,0,103.8914,1.089367,40,78,2024-01-19 04:00:48,662466
3,312564000,9218923,5,0,103.8900,1.088333,40,78,2024-01-19 04:22:54,662466
4,312564000,9218923,5,0,103.8913,1.087745,229,317,2024-01-21 04:06:11,662466

In [21]:
df.tail()

,MMSI,IMO,STATUS,SPEED,LON,LAT,COURSE,HEADING,TIMESTAMP,SHIP_ID
19069,533132848,9218923,5,24,101.2966,2.943483,34,31,2024-04-29 23:34:39,662466
19070,533132848,9218923,5,27,101.2974,2.944483,38,119,2024-04-29 23:36:49,662466
19071,533132848,9218923,5,9,101.2983,2.944467,123,133,2024-04-29 23:40:09,662466
19072,533132848,9218923,5,9,101.2988,2.944017,132,118,2024-04-29 23:43:08,662466
19073,533132848,9218923,5,1,101.2992,2.943683,149,122,2024-04-29 23:49:09,662466

In [32]:

df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])


# Function to calculate distance using Haversine formula
def haversine(lat1, lon1, lat2, lon2):
    # Convert latitude and longitude from degrees to radians
    lat1, lon1, lat2, lon2 = map(radians, [lat1, lon1, lat2, lon2])
    
    # Haversine formula
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * atan2(sqrt(a), sqrt(1 - a))
    
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Calculate the distance
    distance = R * c
    return distance

# Calculate distance traveled per day
daily_distance = {}
prev_lat, prev_lon = np.nan, np.nan
prev_timestamp = None

for index, row in df.iterrows():
    curr_lat = row['LAT']
    curr_lon = row['LON']
    curr_timestamp = row['TIMESTAMP']
    
    if not pd.isnull(prev_lat) and not pd.isnull(prev_lon):
        # Calculate distance between consecutive points
        dist = haversine(prev_lat, prev_lon, curr_lat, curr_lon)
        
        # Check if it's a new day
        if prev_timestamp.date() != curr_timestamp.date():
            # Store daily distance for the previous day
            if prev_timestamp.date() not in daily_distance:
                daily_distance[prev_timestamp.date()] = 0.0
            daily_distance[prev_timestamp.date()] += dist
        else:
            # Add distance to the current day
            if curr_timestamp.date() not in daily_distance:
                daily_distance[curr_timestamp.date()] = 0.0
            daily_distance[curr_timestamp.date()] += dist
    
    # Update previous values
    prev_lat, prev_lon = curr_lat, curr_lon
    prev_timestamp = curr_timestamp

# Print daily distances
for date, distance in daily_distance.items():
    print(f"Date: {date}, Distance Traveled: {distance:.3f} km")

Date: 2024-01-19, Distance Traveled: 0.546 km
Date: 2024-01-21, Distance Traveled: 0.461 km
Date: 2024-01-22, Distance Traveled: 2.202 km
Date: 2024-01-23, Distance Traveled: 5.074 km
Date: 2024-01-24, Distance Traveled: 4.536 km
Date: 2024-01-25, Distance Traveled: 216.685 km
Date: 2024-01-26, Distance Traveled: 176.281 km
Date: 2024-01-27, Distance Traveled: 30.657 km
Date: 2024-01-28, Distance Traveled: 2.965 km
Date: 2024-01-29, Distance Traveled: 1.256 km
Date: 2024-01-30, Distance Traveled: 0.768 km
Date: 2024-01-31, Distance Traveled: 8.260 km
Date: 2024-02-01, Distance Traveled: 3.599 km
Date: 2024-02-02, Distance Traveled: 16.224 km
Date: 2024-02-03, Distance Traveled: 62.200 km
Date: 2024-02-04, Distance Traveled: 42.420 km
Date: 2024-02-05, Distance Traveled: 40.599 km
Date: 2024-02-06, Distance Traveled: 44.662 km
Date: 2024-02-07, Distance Traveled: 55.416 km
Date: 2024-02-08, Distance Traveled: 59.865 km
Date: 2024-02-09, Distance Traveled: 51.663 km
Date: 2024-02-10, Distance Traveled: 58.897 km
Date: 2024-02-11, Distance Traveled: 28.841 km
Date: 2024-02-12, Distance Traveled: 57.397 km
Date: 2024-02-13, Distance Traveled: 53.567 km
Date: 2024-02-14, Distance Traveled: 58.589 km
Date: 2024-02-15, Distance Traveled: 66.071 km
Date: 2024-02-16, Distance Traveled: 53.864 km
Date: 2024-02-17, Distance Traveled: 46.201 km
Date: 2024-02-18, Distance Traveled: 58.693 km
Date: 2024-02-19, Distance Traveled: 52.083 km
Date: 2024-02-20, Distance Traveled: 54.875 km
Date: 2024-02-21, Distance Traveled: 46.484 km
Date: 2024-02-22, Distance Traveled: 31.299 km
Date: 2024-02-23, Distance Traveled: 55.351 km
Date: 2024-02-24, Distance Traveled: 45.545 km
Date: 2024-02-25, Distance Traveled: 49.339 km
Date: 2024-02-26, Distance Traveled: 42.353 km
Date: 2024-02-27, Distance Traveled: 50.431 km
Date: 2024-02-28, Distance Traveled: 60.237 km
Date: 2024-02-29, Distance Traveled: 37.273 km
Date: 2024-03-01, Distance Traveled: 65.251 km
Date: 2024-03-02, Distance Traveled: 53.974 km
Date: 2024-03-03, Distance Traveled: 47.390 km
Date: 2024-03-04, Distance Traveled: 65.455 km
Date: 2024-03-05, Distance Traveled: 49.800 km
Date: 2024-03-06, Distance Traveled: 16.574 km
Date: 2024-03-08, Distance Traveled: 24.182 km
Date: 2024-03-09, Distance Traveled: 65.413 km
Date: 2024-03-10, Distance Traveled: 53.246 km
Date: 2024-03-11, Distance Traveled: 63.739 km
Date: 2024-03-12, Distance Traveled: 54.157 km
Date: 2024-03-13, Distance Traveled: 39.059 km
Date: 2024-03-14, Distance Traveled: 48.756 km
Date: 2024-03-15, Distance Traveled: 51.692 km
Date: 2024-03-16, Distance Traveled: 60.152 km
Date: 2024-03-17, Distance Traveled: 49.307 km
Date: 2024-03-18, Distance Traveled: 62.244 km
Date: 2024-03-19, Distance Traveled: 52.281 km
Date: 2024-03-20, Distance Traveled: 50.819 km
Date: 2024-03-21, Distance Traveled: 36.780 km
Date: 2024-03-22, Distance Traveled: 69.207 km
Date: 2024-03-23, Distance Traveled: 43.346 km
Date: 2024-03-24, Distance Traveled: 68.559 km
Date: 2024-03-25, Distance Traveled: 39.836 km
Date: 2024-03-26, Distance Traveled: 58.161 km
Date: 2024-03-27, Distance Traveled: 43.689 km
Date: 2024-03-28, Distance Traveled: 52.186 km
Date: 2024-03-29, Distance Traveled: 34.923 km
Date: 2024-03-30, Distance Traveled: 45.825 km
Date: 2024-03-31, Distance Traveled: 49.099 km
Date: 2024-04-01, Distance Traveled: 55.890 km
Date: 2024-04-02, Distance Traveled: 37.033 km
Date: 2024-04-03, Distance Traveled: 44.107 km
Date: 2024-04-04, Distance Traveled: 50.178 km
Date: 2024-04-05, Distance Traveled: 20.260 km
Date: 2024-04-06, Distance Traveled: 45.463 km
Date: 2024-04-07, Distance Traveled: 55.808 km
Date: 2024-04-08, Distance Traveled: 59.549 km
Date: 2024-04-09, Distance Traveled: 50.355 km
Date: 2024-04-10, Distance Traveled: 50.123 km
Date: 2024-04-11, Distance Traveled: 40.592 km
Date: 2024-04-12, Distance Traveled: 38.646 km
Date: 2024-04-13, Distance Traveled: 53.947 km
Date: 2024-04-14, Distance Traveled: 9.565 km
Date: 2024-04-15, Distance Traveled: 1.145 km
Date: 2024-04-16, Distance Traveled: 2.257 km
Date: 2024-04-17, Distance Traveled: 29.781 km
Date: 2024-04-18, Distance Traveled: 3.992 km
Date: 2024-04-19, Distance Traveled: 42.803 km
Date: 2024-04-20, Distance Traveled: 18.086 km
Date: 2024-04-21, Distance Traveled: 3.615 km
Date: 2024-04-22, Distance Traveled: 0.277 km
Date: 2024-04-23, Distance Traveled: 36.617 km
Date: 2024-04-24, Distance Traveled: 45.100 km
Date: 2024-04-25, Distance Traveled: 47.287 km
Date: 2024-04-26, Distance Traveled: 39.757 km
Date: 2024-04-27, Distance Traveled: 28.208 km
Date: 2024-04-28, Distance Traveled: 35.786 km
Date: 2024-04-29, Distance Traveled: 53.540 km