In [2]:
from sklearn.metrics import confusion_matrix

In [3]:
import pandas as pd

In [6]:
data=pd.read_csv(r'D:\Github\accupoint_2013.csv')

In [7]:
data.head()

   Classified  GrndTruth
0           1          1
1           1          1
2           1          1
3           1          1
4           1          1

In [8]:
data[:1]

   Classified  GrndTruth
0           1          1

In [9]:
data[1:]

     Classified  GrndTruth
1             1          1
2             1          1
3             1          1
4             1          1
5             3          5
..          ...        ...
111           2          2
112           5          5
113           2          2
114           2          2
115           2          2

[115 rows x 2 columns]

In [10]:
data['Classified']

0      1
1      1
2      1
3      1
4      1
      ..
111    2
112    5
113    2
114    2
115    2
Name: Classified, Length: 116, dtype: int64

In [12]:
confusion_matrix(data['Classified'],data['GrndTruth'])

array([[18,  0,  0,  2,  0,  0],
       [ 1, 59,  2,  5,  0,  0],
       [ 0,  1,  7,  0,  1,  0],
       [ 0,  1,  0,  8,  0,  1],
       [ 0,  0,  0,  1,  9,  0],
       [ 0,  0,  0,  0,  0,  0]], dtype=int64)